In [2]:
import pandas as pd
import os

In [4]:
RAW_DATA_PATH = os.path.join("data", "raw")
PROCESSED_DATA_PATH = os.path.join("data", "processed")

In [5]:
data_organism = pd.read_csv(os.path.join(RAW_DATA_PATH, "data_organism.csv"))

In [6]:
data_organism

                     organism_name             common_name  description
0                     Homo sapiens                   human  Description
1                     Mus musculus             house mouse  Description
2                  Bubalus bubalis           water buffalo  Description
3    Ovis ammon polii x Ovis aries                     NaN  Description
4         Capricornis sumatraensis          Sumatran serow  Description
..                             ...                     ...          ...
818           Sminthopsis hirtipes    hairy-footed dunnart  Description
819             Bettongia gaimardi       Tasmanian bettong  Description
820            Caluromys derbianus  Derby's woolly opossum  Description
821              Potorous longipes     long-footed potoroo  Description
822         Parantechinus apicalis        southern dibbler  Description

[823 rows x 3 columns]