In [1]:
import pandas as pd
import numpy as np
from sentence_transformers import SentenceTransformer
import faiss
import time
import os

In [2]:
RAW_DATA_PATH = os.path.join("data", "raw")
PROCESSED_DATA_PATH = os.path.join("data", "processed")

In [3]:
data = pd.read_csv(os.path.join(PROCESSED_DATA_PATH, "data.csv"))

In [4]:
data

,organism_name,description
0,Homo sapiens,"Organisme Homo sapiens, juga dikenal sebagai m..."
1,Mus musculus,Mus musculus adalah nama ilmiah untuk tikus ru...
2,Bubalus bubalis,"Bubalus bubalis, also known as the water buffa..."
3,Ovis ammon polii x Ovis aries,Organisme yang disebutkan dalam array tersebut...
4,Capricornis sumatraensis,Capricornis sumatraensis adalah salah satu spe...
...,...,...
818,Sminthopsis hirtipes,"Sminthopsis hirtipes, commonly known as the Ha..."
819,Bettongia gaimardi,"Bettongia gaimardi, also known as the Eastern ..."
820,Caluromys derbianus,"Caluromys derbianus, also known as Dermops mar..."
821,Potorous longipes,"Potorous longipes, also known as the longfoote..."
822,Parantechinus apicalis,"Parantechinus apicalis, also known as the stri..."

In [5]:
model = SentenceTransformer('all-mpnet-base-v2')

In [6]:
encoded_data = model.encode(data.description.tolist())
encoded_data = np.asarray(encoded_data.astype('float32'))
index = faiss.IndexIDMap(faiss.IndexFlatIP(768))
index.add_with_ids(encoded_data, np.array(range(0, len(data))))
faiss.write_index(index, 'mammals.index')

In [7]:
model.save('./model')

In [8]:
# Load
data = pd.read_csv(os.path.join(PROCESSED_DATA_PATH, "data.csv"))
model = SentenceTransformer('model/')
index = faiss.read_index('mammals.index')